<header>
  <nav>
    <div class="container">
      <ul class="menu">
        <li><a routerLink="/langTranslation" routerLinkActive="active">Translation Example</a></li>
        <li><a routerLink="/speechRecognition" routerLinkActive="active">Speech to Text Example</a></li>
        <li><a routerLink="/marketApi" routerLinkActive="active">Market Analysis</a></li>
        <li><a routerLink="/aiService" routerLinkActive="active">Gen AI Example</a></li>
        <li><a routerLink="/objectDetection" routerLinkActive="active">Object Detection</a></li>
      </ul>
    </div>
  </nav>
</header>
<br />
<router-outlet></router-outlet>